<h1>Grüner Migrationsbeirat in München</h1>

<a href="#beirat" class="intro bordered" aria-label="zum Beirat"><span></span></a>

<h2>Was ist der Migrationsbeirat?</h2>
<p>
  Der Migrationsbeirat ist die Interessenvertretung der Münchner*innen mit Migrationsgeschichte.
  Seine Aufgabe ist es, den Stadtrat und die Verwaltung in allen Fragen,
  die die ausländische Bevölkerung in München vertreten, zu beraten.
  Der Beirat existiert seit 1974 und wurde am 19. März 2023 neu gewählt.
</p>

<h3>Aktuelle Informationen (mehrsprachig)</h3>
{{> social}}

<h3>Der Migrationsbeirat</h3>
<ul class="list">
  <li>verfügt über einen jährlichen Zuschuss-Etat von rund 160.000 € für Integrationsprojekte.</li>
  <li>gibt Empfehlungen und stellt Anträge an den Stadtrat und an die Stadtverwaltung.</li>
  <li>organisiert politische Diskussionsveranstaltungen.</li>
  <li>macht sich für das kommunale Wahlrecht für alle stark.</li>
  <li>pflegt Kontakt zu Vereinen und Organisationen aus den Migrant*innen Communities.</li>
  <li>ist die Anlaufstelle für alle Fragen, die Migrant*innen in München betreffen.</li>
</ul>

<h3>Der Migrationsbeirat beschäftigt sich mit folgenden Themen</h3>
<ul class="list">
  <li>Antidiskriminierung und Antirassismus</li>
  <li>Erziehung und Bildung</li>
  <li>Kinder- und Jugendhilfepolitik</li>
  <li>Arbeit und sozialen Fragen</li>
  <li>Frauenangelegenheiten</li>
  <li>Sport und Freizeit</li>
  <li>Kultur und dem interkulturellen Dialog</li>
  <li>Migrationspolitik und Völkerverständigung</li>
  <li>Politik für Geflüchtete und Migrationsrecht</li>
  <li>Organisation von Fachtagen, Bürgersprechstunden und Festen</li>
</ul>

<h3>Unsere Werte, unsere Vision</h3>
<ul class="list">
  <li>Wir stehen für die Rechte und Bedürfnisse aller Mitbürger*innen mit Migrationsbiographien.</li>
  <li>Wir setzen uns für eine offene Stadt ein, die unseren Ideen zuhört und unsere Kompetenzen wertschätzt.</li>
  <li>Wir stehen für eine transparentere, effektivere und demokratischere Arbeit im Migrationsbeirat
    und für den Abbau aller Hürden,die derzeit bestehen und zu einer geringen Wahlbeteiligung führen.</li>
  <li>Wir stehen für Mehrsprachigkeit, Partizipation und Förderung aller Migrantenorganisationen.</li>
</ul>

<a class="anchor" id="beirat"></a>
<h3>Im Migrationsbeirat der Landeshauptstadt München ist die Grüne Fraktion durch folgende Personen vertreten:</h3>

{{> members}}
