<footer>
  <div class="engage">
    {{> social}}
  </div>
  <div class="legal">
    <ul>
      <li><a href="mailto:{{links.mailto}}">{{links.mailto}}</a></li>
      <li><a href="{{links.imprint}}">{{i18n.imprint}}</a></li>
    </ul>
  </div>
</footer>
