<footer>
  <ul class="social">
    <li><a href="{{links.facebook}}" target="_blank" class="facebook">facebook</a></li>
    <li><a href="{{links.instagram}}" target="_blank" class="instagram">instagram</a></li>
  </ul>
  <div class="info">
    <ul>
      <li><a href="mailto:{{links.mailto}}">{{links.mailto}}</a></li>
      <li><a href="{{links.imprint}}">{{i18n.imprint}}</a></li>
    </ul>
  </div>
</footer>
