<header>
  <a href="{{links.home}}">
    <img class="logo" src="{{images.logo}}" alt="Grüner Migrationsbeirat in München" />
    <span class="title">Grüner Migrationsbeirat in München</span>
  </a>
</header>
