<section class="members">
  <ul>
    {{#main.members}}
      <li>
        <figure>
          <a href="{{link}}"><img src="" data-src="{{image}}" alt="{{name}}" class="bordered"></a>
          <figcaption>
            <a href="{{link}}">{{name}}</a>
          </figcaption>
        </figure>
      </li>
    {{/main.members}}
  </ul>
</section>
