<ul class="social">
  <li><a href="{{links.facebook}}" target="_blank" class="facebook">facebook</a></li>
  <li><a href="{{links.instagram}}" target="_blank" class="instagram">instagram</a></li>
</ul>
